span {
    color: blue;
    font-size: 15px;
}

body {
    background-color: #EBD9B4;
    width: 400px;
}

#data {
    margin-top: 10px;
}

#btn {
    width: 100%
}

:root {
    --md-sys-color-outline: #9DBC98;
}

.version {
    display: flex;
    width: 100%;
    height: 24px;
    justify-content: space-between;
    margin-bottom: 10px;
}

#updater {
    display: none;
    font-size: 20px;
}